@import url('https://fonts.googleapis.com/css?family=Aladin|Amaranth:400,400i,700,700i|Archivo+Black|Candal|Cedarville+Cursive|Convergence|Damion|Delius+Swash+Caps|Dosis:200,300,400,500,600,700,800|Fugaz+One|Gabriela|Grand+Hotel|Handlee|Hind:300,400,500,600,700|Jaldi:400,700|Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|La+Belle+Aurore|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lily+Script+One|Lobster|Luckiest+Guy|Montserrat+Alternates:400,700|Niconne|Oleo+Script:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:300,400,700|Oxygen:300,400,700|Pacifico|Parisienne|Passion+One:400,700,900|Patua+One|Paytone+One|Poiret+One|Quando|Questrial|Rajdhani:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Rancho|Righteous|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Russo+One|Sacramento|Satisfy|Tangerine:400,700|Telex|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900|Ubuntu:300,300i,400,400i,500,500i,700,700i|Yesteryear&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');


/*
font-family: 'Aladin', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Passion One', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Handlee', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Damion', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Amaranth', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Candal', sans-serif;
font-family: 'Jaldi', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Rancho', cursive;
font-family: 'Niconne', cursive;
font-family: 'Convergence', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Telex', sans-serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Quando', serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Lily Script One', cursive;
font-family: 'Gabriela', serif;
font-family: 'Delius Swash Caps', cursive;
font-family: 'Cedarville Cursive', cursive;

<link href="https://fonts.googleapis.com/css?family=Aladin|Amaranth:400,400i,700,700i|Archivo+Black|Candal|Cedarville+Cursive|Convergence|Damion|Delius+Swash+Caps|Dosis:200,300,400,500,600,700,800|Fugaz+One|Gabriela|Grand+Hotel|Handlee|Hind:300,400,500,600,700|Jaldi:400,700|Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|La+Belle+Aurore|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lily+Script+One|Lobster|Luckiest+Guy|Montserrat+Alternates:400,700|Niconne|Oleo+Script:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:300,400,700|Oxygen:300,400,700|Pacifico|Parisienne|Passion+One:400,700,900|Patua+One|Paytone+One|Poiret+One|Quando|Questrial|Rajdhani:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Rancho|Righteous|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Russo+One|Sacramento|Satisfy|Tangerine:400,700|Telex|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900|Ubuntu:300,300i,400,400i,500,500i,700,700i|Yesteryear&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

*/